@using JetMedicalWebApp.Entities.EntityDto
@model JetMedicalWebApp.Models.BaseViewModel
@using JetMedicalWebApp.Common

<div id="page_4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title_right">
                    ĐẶT LỊCH KHÁM
                </h3>
                <div class="xoamargin">
                    <div class="box_tab_menutt">
                        <div class="xoamargin">
                            <div class="group-tabs">

                                <div class="formDatLichKham">
                                    <form id="formDatLichKham" class="frm shopping form-group">
                                        <div class="text-center">
                                            <img src="/Content/Website/Assets/images/logo.svg">
                                        </div>
                                        <h2>ĐĂNG KÝ KHÁM</h2>
                                        <p>Bộ phận CSKH sẽ phản hồi bạn trong thời gian sớm nhất</p>
                                        <div class="alert d-none" id="formErrorDangKyKhamBenh">
                                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                            <strong>Lỗi!</strong> <span id="formDangKyKhamBenhLabel"></span>.
                                        </div>
                                        <div class="box_group_from">
                                            <select id="formDatLichKham_GoiKham" name="formDatLichKham_GoiKham" class="form-control select2"></select>
                                        </div>
                                        <div class="box_group_from">
                                            <select id="formDatLichKham_BacSi" name="formDatLichKham_BacSi" class="form-control select2"></select>
                                        </div>
                                        <div class="box_group_from">
                                            <input type="text" class="datepicker" name="formDatLichKham_NgayKham" id="formDatLichKham_NgayKham" placeholder="Ngày khám" required autocomplete="off">
                                        </div>
                                        <div class="box_group_from">
                                            <input type="text" readonly onclick="openTimepicker(this)" name="formDatLichKham_ThoiGianKham" id="formDatLichKham_ThoiGianKham" placeholder="Giờ khám" required autocomplete="off">
                                        </div>
                                    </form>
                                    <div class="form-group">
                                        <button id="btnDatLichKham" class="send_mail btn regs"><i class="fa fa-dk"></i> ĐẶT LỊCH KHÁM</button>
                                    </div>
                                </div>
                                <div class="formDatLichKhamThanhCong d-none frm shopping form-group">
                                    <div class="text-center">
                                        <img src="/Content/Website/Assets/images/logo.svg">
                                    </div>
                                    <h2>ĐẶT LỊCH THÀNH CÔNG</h2>
                                    <p>Bạn đã đăng ký thành công, Bộ phận CSKH sẽ liên hệ bạn trong thời gian sớm nhất</p>

                                    <div class="form-group">
                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="send_mail btn regs"><i class="fa fa-dk"></i> ĐÓNG</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
