@using JetMedicalWebApp.Common﻿
<div id="page_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="title_right">
                    @Html.Raw(Model.LanguageId == CommonConstants.TiengViet ? "DỊCH VỤ CỦA CHÚNG TÔI" : " OUR SERVICES")

                </h3>
                <div class="xoamargin">
                
                </div>
            </div>
        </div>
    </div>
</div>
