table{
  width: 100%;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 5px 18px;
  border-bottom: 1px solid #000;
  background: #CCC;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 3px 3px;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 3px 3px;
}

table.dataTable tfoot th, table.dataTable tfoot td {
  padding: 1px 1px;
}

input[type="text"].TableFieldFilterDate,
input[type="text"].TableFieldFilterText,
select.TableFieldFilterOption{
  height: 28px;
  width:100%;
}

table.dataTable {
  margin-bottom: 0px !important;
}