@using JetMedicalWebApp.Common
<script type="text/javascript" charset="utf-8">
    var tableThuoc;
    $(document).ready(function () {
        let resizeObserver = new ResizeObserver(() => {
            if (typeof (tableThuoc) !== 'undefined') {
                tableThuoc.columns.adjust();
            }
        });

        khoiTaoDatatableThuoc();


        $("#btnRefreshDataThuoc").click(function () {
            tableThuoc.draw();
        });

        $("#quickSearchDonThuoc").change(function () {
            tableThuoc.draw();
        });
    });

    function khoiTaoDatatableThuoc() {
        let selectedFields = "Id, TEN_THUOC, MA_LK, DON_VI_TINH, LIEU_DUNG, SO_LUONG, DUONG_DUNG, NGAY_YL, STRNGAY_YL, XML2_01";

        var datatableOption = initialDatatableOption();
        datatableOption.ajax.url = '@Url.Action("GetList", "XML2", new { area = "Member" })';
        datatableOption.ajax.data = {
            selectedFields: function () {
                return selectedFields;
            },
            stringFilter: function () {
                let stringFilter = '';

                if (!isNullOrEmpty($('#quickSearchDonThuoc').val())) {
                    if (!isNullOrEmpty(stringFilter)) {
                        stringFilter += ' AND ';
                    }
                    stringFilter += "(TEN_THUOC LIKE N'%" + $('#quickSearchDonThuoc').val().trim() + "%' OR LIEU_DUNG LIKE N'%" + $('#quickSearchDonThuoc').val().trim() + "%')";
                }

                if (!isNullOrEmpty(stringFilter)) {
                    stringFilter += ' AND ';
                }
                stringFilter += "MA_LK=N'" + (xML1Data != null ? xML1Data.id : -1) + "'";

                return stringFilter;
            }
        };

        datatableOption.drawCallback = function (settings) {
            tableThuoc.columns.adjust();
        };

        datatableOption.order = [[0, "ASC"]];
        datatableOption.columnDefs = [
            {
                "targets": "_all",
                "orderable": false
            },
            {
                "targets": [3],
                className: 'dt-body-center',
                "searchable": false
            }
        ];

        datatableOption.columns = [
            { "data": "TEN_THUOC", "name": "TEN_THUOC", "autoWidth": true, "title": "Tên thuốc" },
            { "data": "DON_VI_TINH", "name": "DON_VI_TINH", "autoWidth": true, "title": "Đơn vị tính" },
            { "data": "LIEU_DUNG", "name": "LIEU_DUNG", "autoWidth": true, "title": "Liều dùng" },
            {
                "data": "XML2_01", "name": "XML2_01", "autoWidth": true, "title": "FPD đơn", "render": function (data, type, full, meta) {
                    return !isNullOrEmpty(data) ? '<a target="_blank" href="' + data + '">Tải file</a>' : '';
                }
            }
        ]

        tableThuoc = $('#dtTableThuoc').DataTable(datatableOption);

        $('#dtTableThuoc tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                tableThuoc.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

       
    }

</script>
<div class="panel widget light-widget">
    <div class="panel-heading no-title">
        <div class="vd_menu-search table-search input-group input-border">
            <input type="text" id="quickSearchDonThuoc"  class="form-control" placeholder="Tìm kiếm">
            <span class="input-group-addon no-bd no-bg"><i class="fa fa-search"></i> </span>
        </div>
      
        <div class="vd_panel-menu themChiTietXML1">
            <div id="btnRefreshDataThuoc" class="menu entypo-icon largerFont" data-placement="bottom" data-toggle="tooltip" data-original-title="Làm mới"> <i class="icon-cycle"></i> </div>
            <div id="btnThemMoiDataRowThuoc" class="menu entypo-icon largerFont vd_green" data-placement="bottom" data-toggle="tooltip" data-original-title="Thêm"> <i class="icon-plus3"></i> </div>
        </div>
    </div>
    <div class="panel-body" id="panelBody">
        <div class="row">
            <table id="dtTableThuoc" class="table table-bordered dt-responsive table-hover nowrap" cellspacing="0"></table>
        </div>
    </div>
</div>
