<div class="vd_head-section clearfix">
    <div class="vd_panel-header">
        <ul class="breadcrumb">
            <li><a href="index.html">@Html.Raw("Trang chủ")</a> </li>
            <li class="active">@Html.Raw("Thông báo")</li>
        </ul>
        @Html.Partial("_PartialContentHeaderMenu")
    </div>
</div>
