@using JetMedicalWebApp.Common


<div class="sidebar-header">
    <div>
        <a href="/"><img class="logo-icon" alt="Snail Soft" src="~/Content/snailsoft/assets/images/logo.png"></a>

    </div>
    <div>
        <h4 class="logo-text">My Hospital</h4>
    </div>
    <div class="toggle-icon ms-auto">
        <i class='bx bx-arrow-to-left'></i>
    </div>
</div>
<!--navigation-->
<ul class="metismenu" id="menu">
    <li>
        <a href="@Url.Action("Index","DangKyKhamBenh", new { area = "Member" })">
            <div class="parent-icon">
                <i class='bx bx-calendar'></i>
            </div>
            <div class="menu-title">Đăng ký khám bệnh</div>
        </a>
    </li>

    <li>
        <a href="@Url.Action("Update", "Users", new { area = "Member" })?userId=@(Request.Cookies.Get(CommonConstants.CookieMemberID) != null ? Request.Cookies.Get(CommonConstants.CookieMemberID).Value : "")">
            <div class="parent-icon">
                <i class='bx bx-user'></i>
            </div>
            <div class="menu-title">Thông tin cá nhân</div>
        </a>
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Home", "Member", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" style="padding:15px;">
                <div class="parent-icon">
                    <i class='bx bx-log-out'></i>
                </div>
                <div class="menu-title">Đăng xuất</div>
            </a>
        }
    </li>
    <!--end navigation-->
</ul>