@using JetMedicalWebApp.Entities.EntityDto
@using JetMedicalWebApp.Common
@model JetMedicalWebApp.Models.PartialViewModel
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="xoamargin">
                    <div class="left_fot">
                        <h3 class="title_fot">THÔNG TIN BỆNH VIỆN</h3>
                        <div class="contant_fot_1">
                            <p><i class="fas fa-map-marked color_blue"></i> Địa chỉ: Xã Tam Hiệp, Huyện Núi Thành, Tỉnh Quảng Nam</p>
                            <p><i class="fas fa-phone-volume color_blue"></i> Hotline: 0967 951 313</p>
                            <p>
                                <i class="fas fa-envelope color_blue"></i> Email: vanthu.bvtwqn@gmail.com
                            </p>
                            <p><i class="fas fa-globe color_blue"></i> Website: https//:www.bvtwqn.vn</p>
                        </div>

                        <div class="thongke">
                            <div class="tructuyen">
                                <h5>Trực tuyến</h5>
                                <p>@System.Web.HttpContext.Current.Application["Totaluser"]</p>
                            </div>
                            <div class="tongtruycap">
                                <h5>Tổng lượt truy cập</h5>
                                <p>@System.Web.HttpContext.Current.Application["hits"]</p>
                            </div>

                        </div>

                    </div>
                    <div class="center_fot">
                        <h3 class="title_fot">HƯỚNG DẪN KHÁCH HÀNG</h3>
                        <div class="category">
                            <ul>
                               
                            </ul>
                        </div>
                        <h3 class="title_fot">MỤC THÀNH VIÊN</h3>
                        <div class="category">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        Điều khoản sử dụng
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        Chính sách riêng tư
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        Thông tin hỗ trợ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right_fot">
                        <h3 class="title_fot">FANPAGE</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Footer -->
<div class="ring">
    <a href="tel:0967 951 313">
        <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle"></div>
        </div>
    </a>
</div>