<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<!-- Specific Page Data -->
<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>Tra cứu kết quả KCB Trực tuyến - Bệnh viện 199</title>
    <meta name="keywords" content="tra cứu kết quả ksk trực tuyến, ksk bệnh viện 199, kết quả ksk bv199" />
    <meta name="description" content="Tra cứu kết quả KSK tại Bệnh viện 199 BCA">
    <meta name="author" content="viethung2106@gmail.com">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/theme/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/theme/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/theme/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/theme/img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Content/theme/img/ico/favicon.png">


    <!-- CSS -->
    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="~/Content/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="css/font-awesome-ie7.min.css"><![endif]-->
    <link href="~/Content/theme/css/font-entypo.css" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="~/Content/theme/css/fonts.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Content/theme/js/jquery.js"></script>

    <!-- Plugin CSS -->
    <link href="~/Content/theme/plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">


    <link href="~/Content/theme/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">

    <!-- Specific CSS -->
    <!-- Theme CSS -->
    <link href="~/Content/theme/css/theme.min.css" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" > <![endif]-->
    <link href="~/Content/theme/css/chrome.css" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->
    <!-- Responsive CSS -->
    <link href="~/Content/theme/css/theme-responsive.min.css" rel="stylesheet" type="text/css">




    <!-- for specific page in style css -->
    <!-- for specific page responsive in style css -->
    <!-- Custom CSS -->
    <link href="~/Content/theme/custom/custom.css" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="~/Content/theme/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/theme/js/mobile-detect.min.js"></script>
    <script type="text/javascript" src="~/Content/theme/js/mobile-detect-modernizr.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.js"></script>
      <script type="text/javascript" src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        h4, h5 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500
        }

        td {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
            text-align: center
        }

            td:nth-child(2) {
                text-align: left;
            }
    </style>
	<script type="text/javascript">        
        if (window.location.protocol != "https:") {
           window.location.protocol = "https";
        }
    </script>
</head>

<body id="pages" class="full-layout no-nav-left no-nav-right  nav-top-fixed background-login     responsive remove-navbar login-layout   clearfix" data-active="pages " data-smooth-scrolling="1">
    <div class="vd_body">

        <!-- Header Start -->
        <!-- Header Ends -->
        <div class="content">
            <div class="container">
                <!-- Middle Content Start -->
                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">
                            <div class="vd_content-section clearfix">
                                <div class="vd_register-page">
                                    @RenderBody()
                                </div>
                                <!-- vd_login-page -->

                            </div>
                            <!-- .vd_content-section -->

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->
                <!-- Middle Content End -->

            </div>
            <!-- .container -->
        </div>
        <!-- .content -->
        <!-- Footer Start -->
        <footer class="footer-2" id="footer">
            <div class="vd_bottom ">
                <div class="container">
                    <div class="row">
                        <div class=" col-xs-12">
                            <div class="copyright text-center">
                                Copyright &copy;2014 Venmond Inc. All Rights Reserved
                            </div>
                        </div>
                    </div><!-- row -->
                </div><!-- container -->
            </div>
        </footer>
        <!-- Footer END -->

    </div>

    <!-- .vd_body END  -->
    <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>
    <!--
    <a class="back-top" href="#" id="back-top"> <i class="icon-chevron-up icon-white"> </i> </a> -->
    <!-- Javascript =============================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Content/theme/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='~/Content/theme/plugins/jquery-ui/jquery-ui.custom.min.js'></script>
    <script type="text/javascript" src="~/Content/theme/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <script type="text/javascript" src="~/Content/theme/js/caroufredsel.js"></script>
    <script type="text/javascript" src="~/Content/theme/js/plugins.js"></script>

    <script type="text/javascript" src="~/Content/theme/plugins/breakpoints/breakpoints.js"></script>
    <script type="text/javascript" src="~/Content/theme/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/theme/plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js"></script>

    <script type="text/javascript" src="~/Content/theme/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/theme/plugins/tagsInput/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="~/Content/theme/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="~/Content/theme/plugins/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Content/theme/plugins/pnotify/js/jquery.pnotify.min.js"></script>

    <script type="text/javascript" src="~/Content/theme/js/theme.js"></script>
    <script type="text/javascript" src="~/Content/theme/custom/custom.js"></script>
    <script src="~/Content/js/app.js"></script>



</body>
</html>
