<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceCreateInvoiceCode1Soap1"/>
        <binding name="ServiceCreateInvoiceCode1Soap">
          <security mode="Transport"/>
        </binding>
        <binding name="ServiceCreateInvoiceCode1Soap2"/>
        <binding name="ServiceCreateInvoiceCode1Soap3">
          <security mode="Transport"/>
        </binding>
        <binding name="ServiceCreateInvoiceCode1Soap4"/>
        <binding name="ServiceCreateInvoiceCode1Soap5"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://demo.smartvas.com.vn:10005/ServiceCreateInvoiceCode1.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceCreateInvoiceCode1Soap1" contract="HoaDonDienTuVinaV1_WebService.ServiceCreateInvoiceCode1Soap" name="ServiceCreateInvoiceCode1Soap1"/>
      <endpoint address="https://ehd.smartvas.vn:10888/ServiceCreateInvoiceCode3.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceCreateInvoiceCode1Soap" contract="HoaDonDienTuVinaProduction_WebService.ServiceCreateInvoiceCode1Soap" name="ServiceCreateInvoiceCode1Soap"/>
      <endpoint address="https://ehd.smartvas.vn:10888/ServiceCreateInvoiceCode1.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceCreateInvoiceCode1Soap3" contract="HoaDonDienTuVinaProductionV1_WebService.ServiceCreateInvoiceCode1Soap" name="ServiceCreateInvoiceCode1Soap2"/>
      <endpoint address="http://demo.smartvas.com.vn:10005/ServiceCreateInvoiceCode1.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceCreateInvoiceCode1Soap5" contract="HoaDonV1Demo.ServiceCreateInvoiceCode1Soap" name="ServiceCreateInvoiceCode1Soap3"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" credentialsProvider="" connectionStringName="DefaultConnection"/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
