@using JetMedicalWebApp.Common
<script type="text/javascript" charset="utf-8">
    var tableThuoc;
    $(document).ready(function () {
        let resizeObserver = new ResizeObserver(() => {
            if (typeof (tableThuoc) !== 'undefined') {
                tableThuoc.columns.adjust();
            }
        });

        khoiTaoDatatableThuoc();

        $('#btnThemMoiDataRowThuoc').click(function (e) {
            e.preventDefault();
            $("#modalAddNewDataRowThuocLabel").text("Thêm mới");

            selectedDataRow = null;

            $('#formAddNewDataRowThuoc')[0].reset();

            $('#modalAddNewDataRowThuoc').modal('show');
        });

        $('#btnDeleteDataRowThuoc').click(function (e) {
            e.preventDefault();

            var selectedDataRowId = $(tableThuoc.$('input:checkbox[name="selectedDataDtTableThuocId"]').map(function () {
                return $(this).prop("checked") ? tableThuoc.row($(this).closest('tr')).index() : null;
            })).toArray();

            if (selectedDataRowId.length > 0) {
                $('#confirmDeleteDtTableThuocDataRowModal').modal('show');
            }
            else {
                hienThiThongBaoModal('Thông báo', 'Bạn chưa chọn dòng dữ liệu cần xóa.');
            }
        });

        $('#btnExecuteDeleteThuocDataRow').click(function (e) {
            e.preventDefault();

            selectedDataRowId = $(tableThuoc.$('input:checkbox[name="selectedDataDtTableThuocId"]').map(function () {
                return $(this).prop("checked") ? tableThuoc.row($(this).closest('tr')).index() : null;
            })).toArray();

            var times = 0;
            $.each(selectedDataRowId, function (index, item) {
                tableThuoc.row(item - times).remove().draw();

                times++;
            });

            $('#confirmDeleteDtTableThuocDataRowModal').modal('hide');
        });

        $("#btnRefreshDataThuoc").click(function () {
            tableThuoc.draw();
        });

        $("#quickSearchDonThuoc").change(function () {
            tableThuoc.draw();
        });
    });

    function khoiTaoDatatableThuoc() {
        let selectedFields = "Id, TEN_THUOC, MA_LK, DON_VI_TINH, LIEU_DUNG, SO_LUONG, DUONG_DUNG, NGAY_YL, STRNGAY_YL, XML2_01";

        var datatableOption = initialDatatableOption();
        datatableOption.ajax.url = '@Url.Action("GetList", "XML2", new { area = "Admin" })';
        datatableOption.ajax.data = {
            selectedFields: function () {
                return selectedFields;
            },
            stringFilter: function () {
                let stringFilter = '';

                if (!isNullOrEmpty($('#quickSearchDonThuoc').val())) {
                    if (!isNullOrEmpty(stringFilter)) {
                        stringFilter += ' AND ';
                    }
                    stringFilter += "(TEN_THUOC LIKE N'%" + $('#quickSearchDonThuoc').val().trim() + "%' OR LIEU_DUNG LIKE N'%" + $('#quickSearchDonThuoc').val().trim() + "%')";
                }

                if (!isNullOrEmpty(stringFilter)) {
                    stringFilter += ' AND ';
                }
                stringFilter += "MA_LK=N'" + (xML1Data != null ? xML1Data.id : -1) + "'";

                return stringFilter;
            }
        };

        datatableOption.drawCallback = function (settings) {
            tableThuoc.columns.adjust();
        };

        datatableOption.order = [[0, "ASC"]];
        datatableOption.columnDefs = [
            {
                "targets": "_all",
                "orderable": false
            },
            {
                "targets": [3],
                className: 'dt-body-center',
                "searchable": false
            },
            {
                "targets": [4],
                className: 'dt-body-center menu-action',
                "orderable": false,
                "searchable": false,
                @if (Model.Menu_GroupPermission != null && !Model.Menu_GroupPermission.AllowUpdate)
                {
                    <text>
                visible: false
                </text>
                }
            },
            {
                "targets": [5],
                className: 'dt-body-center menu-action',
                "orderable": false,
                "searchable": false,
                @if (Model.Menu_GroupPermission != null && !Model.Menu_GroupPermission.AllowDelete)
                {
                    <text>
                visible: false
                </text>
                }
            }
        ];

        datatableOption.columns = [
            { "data": "TEN_THUOC", "name": "TEN_THUOC", "autoWidth": true, "title": "Tên thuốc" },
            { "data": "DON_VI_TINH", "name": "DON_VI_TINH", "autoWidth": true, "title": "Đơn vị tính" },
            { "data": "LIEU_DUNG", "name": "LIEU_DUNG", "autoWidth": true, "title": "Liều dùng" },
            {
                "data": "XML2_01", "name": "XML2_01", "autoWidth": true, "title": "FPD đơn", "render": function (data, type, full, meta) {
                    return !isNullOrEmpty(data) ? '<a target="_blank" href="' + data + '">Tải file</a>' : '';
                }
            },
            {
                "mRender": function (data, type, row, meta) {
                    let html = '';
                    html = '<button data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-yellow btnEdit"> <i class="fa fa-pencil"></i> </button>';
                    return html;
                }, width: "30px"
            },
            {
                "mRender": function (data, type, row, meta) {
                    let html = '';
                    html = '<a data-original-title="delete" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bg-red" onclick=deleteDataRowDonThuoc(' + row.Id + ')> <i class="fa fa-trash-o"></i> </a>';
                    return html;
                }, width: "30px"
            }
        ]

        tableThuoc = $('#dtTableThuoc').DataTable(datatableOption);

        $('#dtTableThuoc tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                tableThuoc.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#dtTableThuoc tbody').on('click', 'tr td.menu-action > .btnEdit', function () {
            selectedDataRow = tableThuoc.row($(this).parents('tr')).data();

            $('#formAddNewDataRowThuoc_TEN_THUOC').val(selectedDataRow.TEN_THUOC);
            $('#formAddNewDataRowThuoc_DON_VI_TINH').val(selectedDataRow.DON_VI_TINH);
            $('#formAddNewDataRowThuoc_DUONG_DUNG').val(selectedDataRow.DUONG_DUNG);
            $('#formAddNewDataRowThuoc_LIEU_DUNG').val(selectedDataRow.LIEU_DUNG);
            $('#formAddNewDataRowThuoc_SO_LUONG').val(selectedDataRow.SO_LUONG);
            $('#formAddNewDataRowThuoc_NGAY_YL').val(selectedDataRow.STRNGAY_YL);
            $('#formAddNewDataRowThuoc_XML2_01_Text').val(selectedDataRow.XML2_01);

            $("#modalAddNewDataRowThuocLabel").text("Cập nhật");

            $('#modalAddNewDataRowThuoc').modal('show');
        });
    }

    function deleteDataRowDonThuoc(id) {
        selectedDataRow = {
            Id: id,
            url: '@Url.Action("DeleteByIds", "XML2", new { area = "Admin" })',
            table: tableThuoc
        };

        $('#confirmDeleteDataRowModal').modal('show');
    }
</script>
<div class="col-sm-12 col-md-6">
    <div class="vd_menu-search table-search input-group input-border">
        <input type="text" id="quickSearchDonThuoc" class="form-control" placeholder="Tìm kiếm">
        <span class="input-group-addon no-bd no-bg"><i class="fa fa-search"></i> </span>
    </div>
</div>

<div class="col-sm-12 col-md-6 themChiTietXML1 float-right">
    <div id="btnRefreshDataThuoc" class="btn buttons-excel buttons-html5 btn-secondary" data-placement="bottom" data-toggle="tooltip" data-original-title="Làm mới"> <i class="bx bx-refresh"></i> </div>
    <div id="btnThemMoiDataRowThuoc" class="btn buttons-excel buttons-html5 btn-primary" data-placement="bottom" data-toggle="tooltip" data-original-title="Thêm"> <i class="bx bx-plus"></i> </div>
</div>

<div class="col-sm-12">
    <table id="dtTableThuoc" class="table table-bordered dt-responsive table-hover nowrap" cellspacing="0"></table>
</div>