@model JetMedicalWebApp.Areas.Admin.Models.LoginViewModels
@{
    ViewBag.Title = "Đăng nhập";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}
<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
            <div class="col mx-auto">
                <div class="mb-4 text-center">
                    <img src="~/Content/snailsoft/assets/images/logo.svg" width="250" alt="Hệ thống CRM" />
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="border p-4 rounded">
                            <div class="form-body">
                                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "row g-3", area = "Admin" }))
                                {
                                    @Html.AntiForgeryToken()

                                    if (!string.IsNullOrEmpty(Model.Message))
                                    {
                                        <div class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="font-35 text-dark">
                                                    <i class='bx bx-info-circle'></i>
                                                </div>
                                                <div class="ms-3">
                                                    <h6 class="mb-0 text-dark">THÔNG BÁO</h6>
                                                    <div class="text-dark"> @Html.Raw(Model.Message)</div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>


                                    }
                                    <div class="col-12">
                                        <label for="inputEmailAddress" class="form-label">Tên đăng nhập</label>
                                        <input type="email" class="form-control" name="Username" id="Username" placeholder="Email Address">
                                    </div>
                                    <div class="col-12">
                                        <label for="inputChoosePassword" class="form-label">Mật khẩu</label>
                                        <div class="input-group" id="show_hide_password">
                                            <input type="Password" name="Password" class="form-control border-end-0" id="Password" placeholder="Enter Password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Lưu đăng nhập</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary"><i class="bx bxs-lock-open"></i>Đăng nhập</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
</div>
